@using ChessModel
@model ChessModel.Game

<div id="gameHolder">
    
    <h2>@Model.Name 
        @if (Model.TimeControl)
        {
            var active = Model.MovesCount > 1 && Model.AvailableMoves.Count > 0;
            <table><tr>
                <td width="200pt" id="@(active && Model.CurrentSide == ManColor.White ? "activeTimer" : "whiteTimer")">www</td>
                <td width="200pt" id="@(active && Model.CurrentSide == ManColor.Black ? "activeTimer" : "blackTimer")">bbb</td>
            </tr></table>
            <script type="text/javascript">
                var whiteTime = @Math.Truncate(Model.WhitePlayerTime.TotalSeconds);
                var blackTime = @Math.Truncate(Model.BlackPlayerTime.TotalSeconds);
                var currTime = @Math.Truncate(Model.CurrentSideTime.TotalSeconds);
                var extraTime = @Math.Truncate(Model.CurrentMoveTime.TotalSeconds);
                showTime("#whiteTimer", whiteTime);
                showTime("#blackTimer", blackTime);
                showCurTimer();
            </script>
        }
    </h2>
    <br />
    <table>
        <tr>
            <td valign="top">
                @Html.Partial("Board", Model)

                @if (Model.Board.IsCheck)
                {
                    if (Model.AvailableMoves.Count == 0)
                    {
                        <div class="check">Checkmate</div>
                    }
                    else
                    {
                        <div class="check">Check</div>
                    }
                }
                else if (Model.AvailableMoves.Count == 0)
                {
                    <div class="check">Stalemate</div>
                }

                @{
                    if (Model.DarkChess)
                    {
                        if (User.Identity.Name == Model.WhitePlayer)
                        {
                            <div>@Model.Board.BlackMans</div>
                        }
                        else if (User.Identity.Name == Model.BlackPlayer)
                        {
                            <div>@Model.Board.WhiteMans</div>
                        }
                    }
                    
                    var boardOrientation = User.Identity.Name == Model.WhitePlayer || User.Identity.Name != Model.BlackPlayer ? ManColor.White : ManColor.Black;
                    if (Model.BlackPlayer != null && Model.BlackPlayer != Model.WhitePlayer)
                    {
                        if (Model.CurrentSide == ManColor.White && User.Identity.Name == Model.WhitePlayer ||
                            Model.CurrentSide == ManColor.Black && User.Identity.Name == Model.BlackPlayer)
                        {
                            <div>Your move</div>
                        }
                    }
                }

            </td>
            <td valign="top">
                <table>
                    @{
                        var lastAttr = " class=\"lastmove\" onmouseover=\"lastMove()\"";
                        for (var i = 0; i < Model.Moves.Count(); ++i )
                        {
                            var move = Model.Moves[i];
                            var last = (i == Model.Moves.Count() - 1);
                            <tr>
                                <td width="40px"></td>
                                <td width="80px" @Html.Raw(last && move.Item2 == null ? lastAttr : "")>
                                    @if (Model.DarkChess && User.Identity.Name != Model.WhitePlayer)
                                    {
                                        <div>??-??</div>
                                    }
                                    else
                                    {
                                        <div>@move.Item1</div>
                                    }
                                </td>
                                <td width="80px" @Html.Raw(last && move.Item2 != null ? lastAttr : "")>
                                    @if (Model.DarkChess && User.Identity.Name != Model.BlackPlayer && move.Item2 != null)
                                    {
                                        <div>??-??</div>
                                    }
                                    else
                                    {
                                        <div>@move.Item2</div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </table>
    @if (Model.MovesCount == 0)
{
    using (Html.BeginForm("SetTimeControl", "Game"))
    {
            <select name="param">
                <option value="0,0">no time control</option>
                <option value="300,5">5 m for game and 5 s for move</option>
                <option value="120,10">2 m for game and 10 s for move</option>
                <option value="600,2">10 m for game and 2 s for move</option>
            </select>
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="submit" value="Set time control" />
        }
    }
</div>