@model ChessModel.Game

<h2>@ViewBag.Title</h2>
<br />

<table>
    <tr>
        <td>
            @Html.Partial("Board", Model)
            @using (Html.BeginForm("MakeMove", "Game", FormMethod.Get))
            {
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="move" value="" />
            }
        </td>
        <td valign="top">
            @{bool needBreak = true;}
            @foreach (var move in Model.Moves)
            {
                needBreak = !needBreak;
                @Html.Encode(move);
                if (needBreak)
                {
                    <br />
                }
                else
                {
                    @Html.Encode(" : ");
                }
            }
        </td>
    </tr>
</table>
