@using ChessModel
@model ChessModel.Game

<div id="gameHolder">
    
    <h2>@Model.Name</h2>
    <br />
    <table>
        <tr>
            <td valign="top">
                @Html.Partial("Board", Model)

                @if (Model.Board.IsCheck)
                {
                    if (Model.AvailableMoves.Count == 0)
                    {
                        <div class="check">Checkmate</div>
                    }
                    else
                    {
                        <div class="check">Check</div>
                    }
                }
                else if (Model.AvailableMoves.Count == 0)
                {
                    <div class="check">Stalemate</div>
                }

                @{
                    if (Model.DarkChess)
                    {
                        if (User.Identity.Name == Model.WhitePlayer)
                        {
                            <div>@Model.Board.BlackMans</div>
                        }
                        else if (User.Identity.Name == Model.BlackPlayer)
                        {
                            <div>@Model.Board.WhiteMans</div>
                        }
                    }
                    
                    var boardOrientation = User.Identity.Name == Model.WhitePlayer || User.Identity.Name != Model.BlackPlayer ? ManColor.White : ManColor.Black;
                    if (Model.BlackPlayer != null && Model.BlackPlayer != Model.WhitePlayer)
                    {
                        if (Model.CurrentSide == ManColor.White && User.Identity.Name == Model.WhitePlayer ||
                            Model.CurrentSide == ManColor.Black && User.Identity.Name == Model.BlackPlayer)
                        {
                            <div>Your move</div>
                        }
                    }
                }

            </td>
            <td valign="top">
                <table>
                    @{
                        var lastAttr = " class=\"lastmove\" onmouseover=\"lastMove()\"";
                        for (var i = 0; i < Model.Moves.Count(); ++i )
                        {
                            var move = Model.Moves[i];
                            var last = (i == Model.Moves.Count() - 1);
                            <tr>
                                <td width="40px"></td>
                                <td width="80px" @Html.Raw(last && move.Item2 == null ? lastAttr : "")>
                                    @if (Model.DarkChess && User.Identity.Name != Model.WhitePlayer)
                                    {
                                        <div>??-??</div>
                                    }
                                    else
                                    {
                                        <div>@move.Item1</div>
                                    }
                                </td>
                                <td width="80px" @Html.Raw(last && move.Item2 != null ? lastAttr : "")>
                                    @if (Model.DarkChess && User.Identity.Name != Model.BlackPlayer && move.Item2 != null)
                                    {
                                        <div>??-??</div>
                                    }
                                    else
                                    {
                                        <div>@move.Item2</div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </table>
</div>