@model ChessModel.Game

<div id="gameHolder">
    
    @if (Model.BlackPlayer == null)
    {
        <h2>@Model.WhitePlayer + 's game</h2>
    }
    else
    {
        <h2>@Model.WhitePlayer vs @Model.BlackPlayer</h2>
    }

    <br />

    <table>
        <tr>
            <td valign="top">
                @Html.Partial("Board", Model)
                
                @using (Ajax.BeginForm("MakeMove", null,
                    new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gameHolder",
                        OnSuccess = "makeDraggable"
                    },
                    new { id = "makeMove" }))

                {
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input type="hidden" name="move" value="" />
                }

                @if (Model.Board.IsCheck)
                {
                    if (Model.AvailableMoves.Count == 0)
                    {
                        <div class="check">Checkmate</div>
                    }
                    else
                    {
                        <div class="check">Check</div>
                    }
                }
                else if (Model.AvailableMoves.Count == 0)
                {
                    <div class="check">Stalemate</div>
                }

            </td>
            <td valign="top">
                <table>
                    @foreach (var move in Model.Moves)
                    {
                        <tr>
                            <td width="40px"></td>
                            <td width="80px">@Html.Encode(move.Item1)</td>
                            <td width="80px">@Html.Encode(move.Item2)</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
</div>