<!-- ko with: home -->
@Html.ActionLink("New Solo Game", "NewSoloGame", "Game")<br />
@Html.ActionLink("New Regular Game", "NewGame", "Game")<br />
@Html.ActionLink("New Dark Chess", "NewDarkChessGame", "Game")<br />
@Html.ActionLink("New Dark Chess (check)", "NewDarkChessCheckGame", "Game")<br />
@Html.ActionLink("New Dark Chess (checkmate)", "NewDarkChessCheckmateGame", "Game")<br/>

<p></p>
@Html.Partial("GameList", Chess.Models.GamesManager.Instance.GetGames())
<!-- /ko -->
